In [1]:
print ("Hello world!")

Hello world!

In [2]:
'Hello'

'hello world!'

'hello world!'

In [3]:
type('Hello')

str

In [6]:
"23" + "45"

'2345'

In [7]:
23 + 45

68

In [8]:
"hello" + " world"

'hello world'

In [ ]:
# Errors Type Errors, Syntax Errors, Name Errors, Indentation Errors

In [12]:
5 / 2

2.5

In [10]:
5 // 2

2

In [11]:
5 % 2

1

In [ ]:
5 ** 3 # Exponentiation 5 * 5 * 5

125

In [14]:
not True

False

In [15]:
not False

True

In [16]:
2 != 3

True

In [17]:
if True:
    print("This is true")

This is true

In [18]:
if False:
    print("This is true")

In [19]:
grocery_list = ['apples', 'bananas', 'oranges']
grocery_list

['apples', 'bananas', 'oranges']

In [20]:
grocery_list.append('grapes')
grocery_list

['apples', 'bananas', 'oranges', 'grapes']

In [21]:
for item in grocery_list:
    print(item)

apples
bananas
oranges
grapes

In [23]:
grocery_list[1]

'bananas'

In [27]:
for i in [0, 1, 2, 3]:
    print(grocery_list[i])

apples
bananas
oranges
grapes

In [29]:
for i in range(4):
    print(grocery_list[i])

apples
bananas
oranges
grapes

In [30]:
len(grocery_list)

4

In [31]:
for i, item in enumerate(grocery_list):
    print(i, item)

0 apples
1 bananas
2 oranges
3 grapes

In [32]:
j = len(grocery_list) - 1
while j >= 0:
    print(grocery_list[j])
    j -= 1

grapes
oranges
bananas
apples

In [33]:
if False:
    print("This won't run")
elif False:
    print("This won't run either")
else:
    print("This will run")

This will run

In [37]:
# Functions

def our_print(s):
    print(s)
    print(z)

our_print("Hello from our_print function!")

Hello from our_print function!
87

In [36]:
z = 87

In [38]:
def times_2(x):
    return x * 2

times_2(5)

10

In [ ]:
# Side Effects - when something happens outside the function that is effected by the function

In [40]:
# is checks whether two variables point to the same object in memory (i.e., identity), not just equality in value.

a = [1, 2, 3]
b = a         # both point to the same list
c = [1, 2, 3]  # different list with same contents

print(a == b)  # True (values are equal)
print(a is b)  # True (same memory address)

print(a == c)  # True (values are equal)
print(a is c)  # False (different memory address)

True
True
True
False

In [42]:
from copy import deepcopy

original = [[1, 2], [3, 4]]
deep = deepcopy(original)

original[0][0] = 99

print(original)  # [[99, 2], [3, 4]] → affected!
print(deep)      # [[1, 2], [3, 4]] → not affected!

[[99, 2], [3, 4]]
[[1, 2], [3, 4]]

In [43]:
def check_identity(x):
    print("Inside function: x is y?", x is y)

y = [10, 20]
check_identity(y)

Inside function: x is y? True

In [44]:
# When you do x = 5 and y = x, both x and y point to the same immutable integer 5. But when you later do x = 6, you're not modifying the original value — you're just making x point to a new integer 6. 
# Since integers are immutable, any "change" creates a new object, leaving y still pointing to 5.

# In contrast, lists like a = [0,1,2] are mutable. When you assign b = a, both a and b point to the same list object in memory. So if you do b[0] = 44, you're modifying the contents of the shared list, 
# and the change is reflected in both a and b.

In [45]:
# Immutable case
x = 5
y = x
x = 6
print(x)  # 6
print(y)  # 5  → y is not affected

# Mutable case
a = [0, 1, 2]
b = a
b[0] = 44
print(a)  # [44, 1, 2] → a is changed
print(b)  # [44, 1, 2] → same list as a

6
5
[44, 1, 2]
[44, 1, 2]

In [50]:
def add(x, y = 3):
    return x + y

print(add(2))
print(add(2, 5))  # y is overridden
print(add(x=3))
print(add(y = 9, x=3))

5
7
6
12

In [51]:
# File input and output
# Read

In [ ]:
p = 'a_test.txt'
with open(p, 'r') as f:
    print(f.readlines()) #list of lines

['Hello there\n', '42\n', '35\n', '76\n', 'this, is, a, string']

In [54]:
with open(p, 'r') as f:
    print(f.read())

Hello there
42
35
76
this, is, a, string

In [55]:
with open(p, 'r') as f:
    for line in f:
        print(line.strip())  # strip removes the newline character at the end of each line

Hello there
42
35
76
this, is, a, string

In [56]:
with open(p, 'r') as f:
    for line in f:
        print(line)

Hello there

42

35

76

this, is, a, string

In [57]:
with open('new_file.txt', 'w') as f:
    f.write("This is a new file.")

In [59]:
with open('new_file.txt', 'a') as f: # 'w' - write, 'a' - append
    f.write("Hello again!\n")

In [ ]:
# In Python, a class is a blueprint for creating objects, and each object is an instance of that class.
# The __init__ method is called automatically when we create a new object; it initializes object attributes.
# The self keyword refers to the current object and is used to access instance variables and methods.
# The __str__ method defines how the object should be displayed when printed, returning a readable string.
# We can also define custom functions inside a class to perform actions using the object’s data.
# For example, a 'Book' class can have a title and author, and a custom 'read()' method to describe reading it.

In [68]:
class Book:
    ''' A class representing a book with a title and an author. '''
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def __str__(self):
        return f"'{self.title}' by {self.author}"

    def read(self):
        ''' Simulates reading the book by printing a message. ''' # Docstring
        print(f"You are reading {self.title} by {self.author}.")

# Create an object
my_book = Book("Atomic Habits", "James Clear")

# Use methods
print(my_book)    # Output: 'Atomic Habits' by James Clear
my_book.read()    # Output: You are reading Atomic Habits by James Clear.

'Atomic Habits' by James Clear
You are reading Atomic Habits by James Clear.

In [61]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [67]:
help(Book.read)

Help on function read in module __main__:

read(self)
    Simulates reading the book by printing a message.

In [69]:
help(Book)

Help on class Book in module __main__:

class Book(builtins.object)
 |  Book(title, author)
 |
 |  A class representing a book with a title and an author.
 |
 |  Methods defined here:
 |
 |  __init__(self, title, author)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  read(self)
 |      Simulates reading the book by printing a message.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [73]:
l = [1, 2, 3, 4, 5]
l.append(6)  # Adds 6 to the end of the list
l

[1, 2, 3, 4, 5, 6]

In [74]:
l.insert(2, 99)  # Inserts 99 at index 2
l

[1, 2, 99, 3, 4, 5, 6]

In [75]:
l.append(6)
l.count(6)  # Counts how many times 6 appears in the list

2

In [76]:
l.reverse()  # Reverses the list in place
l

[6, 6, 5, 4, 3, 99, 2, 1]

In [77]:
l.remove(2)  # Removes the first occurrence of 2 from the list
l

[6, 6, 5, 4, 3, 99, 1]

In [81]:
l = []
for i in range(5):
    for j in range(3):
        if (i + j) % 2 == 0:
            l.append((i + j))

l

[0, 2, 2, 2, 4, 4, 4, 6]

In [84]:
# Dictionaries - Key-Value Pairs: A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

d = {'Apple': "It's high in vitamin C", 
     'Banana': "It's high in potassium",
     'Orange': "It's high in fiber"}
d

{'Apple': "It's high in vitamin C",
 'Banana': "It's high in potassium",
 'Orange': "It's high in fiber"}

In [83]:
d['Apple']  # Accessing the value for the key 'Apple'

"It's high in vitamin C"

In [85]:
d['Banana']

"It's high in potassium"

In [86]:
d['Banana'] = "It's a great source of energy"  # Modifying the value for the key 'Banana'
d

{'Apple': "It's high in vitamin C",
 'Banana': "It's a great source of energy",
 'Orange': "It's high in fiber"}

In [87]:
del d['Orange']  # Deleting the key 'Orange'
d

{'Apple': "It's high in vitamin C", 'Banana': "It's a great source of energy"}

In [88]:
d['Cucumber'] = "It's a refreshing vegetable"  # Adding a new key-value pair
d

{'Apple': "It's high in vitamin C",
 'Banana': "It's a great source of energy",
 'Cucumber': "It's a refreshing vegetable"}

In [90]:
for k in d.keys():  # Iterating over the keys
    print(k)
    print(d[k])  # Accessing the value for each key

Apple
It's high in vitamin C
Banana
It's a great source of energy
Cucumber
It's a refreshing vegetable

In [92]:
# f-Strings - Formatted String Literals: f-strings allow you to embed expressions inside string literals, using curly braces `{}`. They are prefixed with the letter `f` or `F`.

name = "Alice"
print(f"Hello, {name}!")  # Using an f-string to embed the variable name

Hello, Alice!

In [93]:
age = 30
print(f"{name} is {age} years old.")  # Embedding multiple variables in an f-string

Alice is 30 years old.

In [94]:
"Hey {0} and {1}".format(name, age)  # Using the format method for string formatting

'Hey Alice and 30'

In [95]:
for c in "Hello":
    print(f"Character: {c}")  # Using f-string inside a loop to print each character

Character: H
Character: e
Character: l
Character: l
Character: o

In [96]:
"My name is shiv".split(" ")  # Splitting a string into a list of words

['My', 'name', 'is', 'shiv']

In [97]:
"greg".isnumeric()

False

In [98]:
"HELLO there".lower()  # Converting a string to lowercase

'hello there'

In [99]:
"HELLO there".upper()

'HELLO THERE'

In [101]:
s = "Hello, World!"
print(s[0])  # Accessing the first character
print(s[-1])  # Accessing the last character

H
!

In [102]:
len(s)  # Getting the length of the string

13

In [103]:
# Tuples - Immutable Sequences: A tuple is a collection which is ordered and unchangeable. In Python, tuples are written with round brackets.
t = (1, 2, 3)  # Creating a tuple
print(t)  # Output: (1, 2, 3)

(1, 2, 3)

In [104]:
sorted([3, 1, 2])  # Sorting a list

[1, 2, 3]

In [106]:
# Sets - Unordered Collections of Unique Elements: A set is a collection which is unordered, unchangeable, and unindexed. In Python, sets are written with curly brackets.
s = {1, 2, 3, 4, 5, 5}  # Creating a set
print(s)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [107]:
set('greg is  a good guy')

{' ', 'a', 'd', 'e', 'g', 'i', 'o', 'r', 's', 'u', 'y'}

In [108]:
a = set()
type(a)  # Checking the type of a, which is a set

set

In [109]:
a = {}
type(a)  # Checking the type of a, which is a dictionary

dict

In [110]:
# TypeErrors - Occur when an operation or function is applied to an object of inappropriate type.
try:
    result = 'Hello' + 5  # Trying to concatenate a string and an integer   
except:
    print("TypeError: Cannot concatenate 'str' and 'int' objects.")

TypeError: Cannot concatenate 'str' and 'int' objects.

In [111]:
try:
    result = 'Hello' + 5.0  # Trying to concatenate a string and a float
except TypeError:
    print("TypeError: Cannot concatenate 'str' and 'float' objects.")

TypeError: Cannot concatenate 'str' and 'float' objects.

In [112]:
try:
    result = 'Hello' + 5.0  # Trying to concatenate a string and a float
except SyntaxError:
    print("TypeError: Cannot concatenate 'str' and 'float' objects.")

TypeError: can only concatenate str (not "float") to str

In [113]:
result = input("Enter a number: ")  # Using input function to get user input

In [114]:
result

'4'

In [115]:
type(result)  # Checking the type of result, which is a string

str

In [116]:
result.isnumeric()  # Checking if the input is numeric

True

In [117]:
# List Comprehensions - A concise way to create lists in Python. It consists of brackets containing an expression followed by a for clause, and can also include an optional if clause.
l = [x for x in range(10)]  # Creating a list of numbers from 0 to 9
print(l)  # Output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [118]:
l = [x**2 for x in range(10)] 
print(l)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
l = [x for x in range(10) if (x%2) == 0]  # Creating a list of numbers from 0 to 9
print(l)

[0, 2, 4, 6, 8]

In [120]:
l = [x if (x%2) == 0 else 5 for x in range(10) ]  # Creating a list of even numbers from 0 to 9
print(l)

[0, 5, 2, 5, 4, 5, 6, 5, 8, 5]

In [121]:
l = [x if (x%2) == 0 else 5 for x in [4, 1, 6, 12] ]  # Creating a list of even numbers from 0 to 9
print(l)

[4, 5, 6, 12]

In [122]:
[0] * 4

[0, 0, 0, 0]

In [123]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [125]:
for a, b in zip(range(3), range(4, 7)): #zip combines elements from two or more iterables (like lists) into pairs
    print(a, b)  # Pairing elements from two lists

0 4
1 5
2 6

In [126]:
[(a, b) for a, b in zip(range(3), range(4, 7))]  # Creating a list of tuples from two lists

[(0, 4), (1, 5), (2, 6)]

In [127]:
{a:b for a, b in zip(range(3), range(4, 7))}

{0: 4, 1: 5, 2: 6}

In [130]:
# ASCII value of a character is the number that represents the character in the ASCII table.
ord('A')  # Returns the ASCII value of 'A'

65

In [129]:
ord('a')  # Returns the ASCII value of 'a'

97

In [131]:
chr(65)

'A'

In [132]:
chr(97)

'a'

In [137]:
{a:chr(a + 64) for a in range(1,27)}  # Creating a dictionary from two lists

{1: 'A',
 2: 'B',
 3: 'C',
 4: 'D',
 5: 'E',
 6: 'F',
 7: 'G',
 8: 'H',
 9: 'I',
 10: 'J',
 11: 'K',
 12: 'L',
 13: 'M',
 14: 'N',
 15: 'O',
 16: 'P',
 17: 'Q',
 18: 'R',
 19: 'S',
 20: 'T',
 21: 'U',
 22: 'V',
 23: 'W',
 24: 'X',
 25: 'Y',
 26: 'Z'}

In [ ]:
# Module in python is a file containing Python code. It can define functions, classes, and variables that can be reused in other Python programs.
import math  # Importing the math module

In [ ]:
# pip install requests  # Installing the requests module using pip
import requests  # Importing the requests module
!pip list  # Listing all installed packages
!pip show requests  # Showing details of the requests module

In [ ]:
!ls # Listing files in the current directory
!python test.py  # Running a Python script named test.py

In [138]:
# lambda functions - Anonymous functions defined with the lambda keyword. They can take any number of arguments but only have one expression.

def add(x, y):
    return x + y
print(add(2, 3))  # Output: 5

5

In [139]:
lambda_add = lambda x, y: x + y  # Defining a lambda function
print(lambda_add(2, 3))  # Output: 5

5

In [140]:
print((lambda x, y: x + y)(2, 3))  # Calling a lambda function directly

5